body {
    box-sizing: border-box;
}

.recipe-div {
    margin: 20px;
    display: inline-flex;
    text-align: left;
    width: 90%;
    height: 50%;
}

.recipe-title {
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
    font-family: 'Allan', cursive;
}

.recipe-description {
    font-size: 14px;
    text-align: justify;
    margin: 20px;
    font-family: 'GFS Neohellenic', sans-serif;
}

.recipe-ingredients {
    font-size: 14px;
    display: inline-block;
    font-family: 'GFS Neohellenic', sans-serif;
    margin: auto;
    padding: 20px;
    width: auto;
    justify-content: space-around;
}

.recipe-instructions {
    font-size: 14px;
    font-family: 'GFS Neohellenic', sans-serif;
    margin-bottom: 30px;
}

.recipe-instruction-header, .ingredient-header {
    margin: 20px;
    font-size: 20px;
    font-family: 'Allan', cursive;
    text-align: center;
}

.recipe-container {
    border: 3px solid darkgoldenrod;
    background-color: lightyellow;
    margin: 40px;
    text-align: center;
    display:flex;
    border-radius: 20px;
    display: block;

}

.instruction-div {
    width: 90%;
    display: flex;
    text-align: left;
    margin-left: 30px;
    font-size: 14px;
    font-family: 'GFS Neohellenic', sans-serif;
}

.recipe-img {
    margin: 20px;
    border: 2px solid darkgray;
    box-shadow: 2px 2px darkslategray;
    border-radius: 10px;
    object-fit: cover;
    max-height: 300px;
    max-width: 300px;
}
      